*,
::before,
::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  font-size: 1.6rem;
  font-family: "Be Vietnam", sans-serif;
  overflow-x: hidden;
  position: relative;
}

.header-container {
  padding: 5rem 10rem;
  background: url("../images/bg-tablet-pattern.svg") no-repeat right/contain;
  background-position-x: 120%;
  background-position-y: -100px;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 1045px) {
  .header-container {
    padding: 5rem 3rem;
    background-position-x: 100px;
    background-position-y: -50px;
  }
}

.header-container.overlay::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.5)));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
  z-index: -1;
}

nav {
  min-height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

nav .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 1.4rem;
}

nav .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
  width: 40%;
  position: relative;
}

@media screen and (max-width: 1045px) {
  nav .nav-links {
    position: absolute;
    width: 90%;
    height: 300px;
    background: white;
    -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
            box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
    top: 23vh;
    left: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transform: translate(-50%, 15%);
            transform: translate(-50%, 15%);
    opacity: 0;
  }
}

nav .nav-links a {
  text-decoration: none;
  color: #242d52;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

nav .nav-links a:hover {
  color: #9095a7;
}

nav .nav-links.show {
  opacity: 1;
  -webkit-animation: anim 0.5s ease forwards;
          animation: anim 0.5s ease forwards;
}

@media screen and (max-width: 1045px) {
  nav .btn-get-started {
    display: none;
  }
}

nav .btn-get-started button {
  border: none;
  background: #00A7FF;
  padding: 1rem 3rem;
  border-radius: 3rem;
  -webkit-box-shadow: 5px 10px 20px rgba(58, 162, 242, 0.5);
          box-shadow: 5px 10px 20px rgba(58, 162, 242, 0.5);
  cursor: pointer;
  font-family: "Be Vietnam", sans-serif;
  color: #fafafa;
  font-weight: bold;
  -webkit-transition: background 0.8s ease-in;
  transition: background 0.8s ease-in;
}

nav .btn-get-started button:hover {
  background: -webkit-gradient(linear, left top, right top, from(#1f66b1), to(#209eff));
  background: linear-gradient(to right, #1f79b1, #209eff);
  color: white;
}

nav .hamburger {
  display: none;
  cursor: pointer;
}

@media screen and (max-width: 1045px) {
  nav .hamburger {
    display: block;
  }
}

.intro-hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 5rem;
}

@media screen and (max-width: 1045px) {
  .intro-hero {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.intro-text {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
}

@media screen and (max-width: 1045px) {
  .intro-text {
    text-align: center;
    overflow-x: hidden;
  }
  .intro-text br {
    display: none;
  }
}

.intro-text h1 {
  font-size: 5rem;
  color: #242d52;
  line-height: 5.5rem;
}

.intro-text p {
  padding-top: 3rem;
  color: #9095a7;
}

.intro-text button {
  margin-top: 3rem;
  border: none;
  background: #00A7FF;
  padding: 1rem 3rem;
  border-radius: 3rem;
  -webkit-box-shadow: 5px 10px 20px rgba(58, 162, 242, 0.5);
          box-shadow: 5px 10px 20px rgba(58, 162, 242, 0.5);
  cursor: pointer;
  font-family: "Be Vietnam", sans-serif;
  color: #fafafa;
  font-weight: bold;
  -webkit-transition: background 0.8s ease-in;
  transition: background 0.8s ease-in;
}

.intro-text button:hover {
  background: -webkit-gradient(linear, left top, right top, from(#1f66b1), to(#209eff));
  background: linear-gradient(to right, #1f79b1, #209eff);
  color: white;
}

.intro-img {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
}

@media screen and (max-width: 1045px) {
  .intro-img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.bg-mobile {
  display: none;
  z-index: -1;
}

.bg-mobile img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

@media screen and (max-width: 1045px) {
  .bg-mobile {
    display: block;
    position: absolute;
    top: 600px;
    left: 230px;
    right: -200px;
  }
}

@-webkit-keyframes anim {
  from {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  to {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@keyframes anim {
  from {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  to {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.manage-features {
  padding: 5rem 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
}

@media screen and (max-width: 1045px) {
  .manage-features {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 5rem 3rem;
    overflow: hidden;
  }
}

.bg-pattern {
  position: absolute;
  top: 350px;
  left: -500px;
  z-index: -1;
}

@media screen and (max-width: 1045px) {
  .bg-pattern {
    display: none;
  }
}

.manage-question {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

@media screen and (max-width: 1045px) {
  .manage-question {
    text-align: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.manage-question h2 {
  font-size: 4rem;
  line-height: 5rem;
  color: #242d52;
}

.manage-question p {
  padding-top: 3rem;
  color: #9095a7;
}

.features {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
}

.feature-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 25px;
}

@media screen and (max-width: 1045px) {
  .feature-title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    margin-top: 3rem;
  }
  .feature-title br {
    display: none;
  }
}

.feature-title .number {
  -ms-flex-item-align: start;
      align-self: flex-start;
  background: #00A7FF;
  border-radius: 2rem;
  padding: 1rem 3rem;
  color: #fafafa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 1%;
          flex: 1 0 1%;
  position: relative;
}

@media screen and (max-width: 1045px) {
  .feature-title .number::after {
    content: "";
    position: absolute;
    left: 0px;
    width: 100vw;
    height: 100%;
    background-color: #e2f7ff;
    border-radius: 3rem;
    z-index: -1;
  }
}

.feature-title .feature-content {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 99%;
          flex: 1 0 99%;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 1rem auto;
}

.feature-title .feature-content h4 {
  color: #242d52;
}

@media screen and (max-width: 1045px) {
  .feature-title .feature-content h4 {
    position: absolute;
    top: 10px;
    left: 90px;
    z-index: 1;
    font-size: 1.4rem;
  }
}

.feature-title .feature-content p {
  color: #9095a7;
  padding: 3rem 0rem;
}

@media screen and (max-width: 1045px) {
  .feature-title .feature-content p {
    padding: 0rem 0rem;
  }
}

.testimonials {
  overflow: hidden;
  min-height: 80vh;
}

.testimonial-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.testimonial-title h2 {
  font-size: 4rem;
  color: #242d52;
}

.testimonial-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 10rem;
  gap: 30px;
}

.card {
  width: 600px;
  background: #fafafa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding: 3rem 3rem;
}

@media screen and (max-width: 1045px) {
  .card {
    width: 400px;
  }
}

.card img {
  width: 20%;
  -webkit-transform: translateY(-70%);
          transform: translateY(-70%);
}

.card h4 {
  color: #242d52;
  margin-top: -50px;
}

@media screen and (max-width: 1045px) {
  .card h4 {
    margin-top: 0px;
  }
}

.card p {
  margin-top: 2rem;
  color: #9095a7;
}

#testimonial-slider {
  padding-top: 5rem;
}

.testimonial-btn {
  padding-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.testimonial-btn button {
  border: none;
  background: #00A7FF;
  padding: 1rem 3rem;
  border-radius: 3rem;
  -webkit-box-shadow: 5px 10px 20px rgba(58, 162, 242, 0.5);
          box-shadow: 5px 10px 20px rgba(58, 162, 242, 0.5);
  cursor: pointer;
  font-family: "Be Vietnam", sans-serif;
  color: #fafafa;
  font-weight: bold;
  -webkit-transition: background 0.8s ease-in;
  transition: background 0.8s ease-in;
}

.testimonial-btn button:hover {
  background: -webkit-gradient(linear, left top, right top, from(#1f66b1), to(#209eff));
  background: linear-gradient(to right, #1f79b1, #209eff);
  color: white;
}

.swiper-container {
  width: 100%;
  overflow: visible;
}

.swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

@media screen and (max-width: 1045px) {
  .swiper-slide {
    overflow: visible;
  }
}

.swiper-wrapper {
  overflow: visible;
}

.swiper-pagination-bullet {
  background: #00A7FF;
}

.simplify-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 5rem 10rem;
  min-height: 35vh;
  background: #00A7FF url("../images/bg-simplify-section-desktop.svg") no-repeat;
  margin-top: 10rem;
  background-position-x: 190px;
  background-position-y: -130px;
  position: relative;
}

@media screen and (max-width: 1045px) {
  .simplify-container {
    background: #00A7FF url("../images/bg-simplify-section-mobile.svg") no-repeat;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding: 5rem 3rem;
    gap: 30px;
  }
  .simplify-container br {
    display: none;
  }
}

.simplify-container h2 {
  font-size: 4rem;
  line-height: 5rem;
  color: white;
}

.simplify-btn button {
  border: none;
  background: white;
  padding: 1rem 3rem;
  border-radius: 3rem;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  font-family: "Be Vietnam", sans-serif;
  color: #00A7FF;
  font-weight: bold;
  overflow: hidden;
  -webkit-transition: background 0.8s ease-in;
  transition: background 0.8s ease-in;
}

.simplify-btn button:hover {
  background: -webkit-gradient(linear, left top, right top, from(#1f66b1), to(#209eff));
  background: linear-gradient(to right, #1f79b1, #209eff);
  color: white;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 5rem 10rem;
  background: #1d1e25;
}

@media screen and (max-width: 1045px) {
  .footer-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding: 5rem 3rem;
  }
}

.logo-social {
  -ms-flex-item-align: baseline;
      align-self: baseline;
}

@media screen and (max-width: 1045px) {
  .logo-social {
    -ms-flex-item-align: unset;
        align-self: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 100px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    position: relative;
    top: -250px;
  }
  .logo-social .logo-footer {
    text-align: center;
  }
}

.logo-social .social {
  padding-top: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

@media screen and (max-width: 1045px) {
  .logo-social .social {
    gap: 30px;
  }
}

.logo-social .social .fab {
  color: white;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.logo-social .social .fab:hover {
  color: #00A7FF;
  -webkit-box-shadow: 5px 10px 20px rgba(58, 162, 242, 0.5);
          box-shadow: 5px 10px 20px rgba(58, 162, 242, 0.5);
}

.site-map {
  -ms-flex-item-align: baseline;
      align-self: baseline;
}

@media screen and (max-width: 1045px) {
  .site-map {
    -ms-flex-item-align: unset;
        -ms-grid-row-align: unset;
        align-self: unset;
    position: relative;
    top: -200px;
    left: -100px;
  }
}

.site-map ul {
  list-style: none;
}

.site-map ul li {
  padding: 1rem;
}

.site-map ul a {
  text-decoration: none;
  color: #fafafa;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.site-map ul a:hover {
  color: #00A7FF;
}

.join-manage {
  -ms-flex-item-align: baseline;
      align-self: baseline;
}

@media screen and (max-width: 1045px) {
  .join-manage {
    -ms-flex-item-align: unset;
        -ms-grid-row-align: unset;
        align-self: unset;
    position: relative;
    top: -70px;
    left: 100px;
  }
}

.join-manage ul {
  list-style: none;
}

.join-manage ul li {
  padding: 1rem;
}

.join-manage ul a {
  text-decoration: none;
  color: #fafafa;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.join-manage ul a:hover {
  color: #00A7FF;
}

.contact-us {
  -ms-flex-item-align: baseline;
      align-self: baseline;
}

@media screen and (max-width: 1045px) {
  .contact-us {
    -ms-flex-item-align: unset;
        -ms-grid-row-align: unset;
        align-self: unset;
  }
}

.contact-us .form-container {
  position: relative;
}

@media screen and (max-width: 1045px) {
  .contact-us .form-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.contact-us .form-container input[type="email"] {
  border: none;
  border-radius: 3rem;
  padding: 1.5rem 3rem;
}

.contact-us .form-container input[type="email"]:focus {
  outline: none;
}

.contact-us .form-container button {
  border: none;
  background: #00A7FF;
  padding: 1.5rem 3rem;
  border-radius: 3rem;
  margin-left: 1rem;
  color: #fafafa;
  cursor: pointer;
  font-family: "Be Vietnam", sans-serif;
  font-weight: bold;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.contact-us .form-container button:hover {
  color: #1d1e25;
}

.contact-us .form-container button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 3rem;
  -webkit-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
  -webkit-transition: 0.2s -webkit-transform ease-out;
  transition: 0.2s -webkit-transform ease-out;
  transition: 0.2s transform ease-out;
  transition: 0.2s transform ease-out, 0.2s -webkit-transform ease-out;
  will-change: transform;
  background: white;
  z-index: -1;
}

.contact-us .form-container button:hover::after {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.contact-us .form-container ::-webkit-input-placeholder {
  color: #9095a7;
}

.contact-us .form-container :-ms-input-placeholder {
  color: #9095a7;
}

.contact-us .form-container ::-ms-input-placeholder {
  color: #9095a7;
}

.contact-us .form-container ::placeholder {
  color: #9095a7;
}

.contact-us .form-container::after {
  content: "Please insert a valid email";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50px;
  left: 10px;
  background: none;
  font-size: 1.2rem;
  font-style: italic;
  color: rgb(0, 145, 255);
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.contact-us .form-container.show::after {
  opacity: 1;
}

.contact-us .copyright {
  padding-top: 9rem;
  font-size: 1.4rem;
  color: #9095a7;
  float: right;
}

@media screen and (max-width: 1045px) {
  .contact-us .copyright {
    position: relative;
    top: 400px;
    float: unset;
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */